<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>控制面板|创建机器</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"  charset="UTF-8"></script>
</head>
<body>
{{template "header" .}}
<div class="container" style="padding: 80px 0;">
    <div class="col-md-9">
        {{range $index,$v := .composes}}
            <div class="col-md-4 col-md-offset-1" style="border: 5px solid steelblue;">
                <table>
                    <tr>
                        <td>套餐名：</td>
                        <td>{{$v.Name}}</td>
                    </tr>
                    <tr>
                        <td>CPU：</td>
                        <td>{{$v.Vcpu}}</td>
                    </tr>
                    <tr>
                        <td>RAM：</td>
                        <td>{{$v.Vmemory}}</td>
                    </tr>
                    <tr>
                        <td>Storage：</td>
                        <td>9GB</td>
                    </tr>
                    <tr>
                        <td>IPv4：</td>
                        <td>{{$v.IPv4}}</td>
                    </tr>
                    <tr>
                        <td>IPv6：</td>
                        <td>{{$v.IPv6}}</td>
                    </tr>
                    <tr>
                        <td>OS：</td>
                        <td>Linux</td>
                    </tr>
                    <tr>
                        <td>Traffic：</td>
                        <td>500GB</td>
                    </tr>
                    <tr>
                        <td>Price:</td>
                        <td>{{$v.Price}}</td>
                    </tr>
                </table>
                <button class="order" ret-id="{{$v.ID}}">订购</button>
            </div>
        {{end}}
    </div>
    <div class="col-md-3">
        <h1>购物车</h1>
        <table>
            {{range $index,$v := .carts}}
            <td>
                {{$v}}
            </td>
            {{end}}
        </table>
        <button class="order" ret-id="">结账</button>
    </div>
</div>
{{template "footer" .}}
<script>
    $(".order").click(function(){
        var id = $(this).attr("ret-id");
        $.post("/addCart",{id:id},function(d){
            alert(d.msg)
            if(d.ret == "e"){
                switch(d.param){
                    case "login":
                        window.location.href = "/login.html?url=/composes"
                    break;
                }
            }
        },"json")
    })
</script>
</body>
</html>
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
