<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>控制面板|服务器详情</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js" charset="UTF-8"></script>
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">网络监控</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/network/index">控制面板</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/"> 首页 </a></li>
                    <li class="active"><a href="/list">虚拟机列表</a></li>
                    <li><a href="/create.html">创建虚拟机</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding: 80px 0;">
        <div class="col-lg-12" style="margin-bottom: 10px;">
            <div class="btn-group">
                <button class="btn btn-default" type="button" onclick="control.start()" {{if eq .Status 1}}disabled{{end}}>
                    开机
                </button>
                <button class="btn btn-default" type="button" onclick="control.shutdown()" {{if eq .Status 5}}disabled{{end}}>
                    关机
                </button>
                <button class="btn btn-default" type="button" onclick="control.reboot()" {{if ne .Status 1}}disabled{{end}}>
                    重启
                </button>
                <button class="btn btn-default" type="button" onclick="control.repasswd()" {{if ne .Status 1}}disabled{{end}}>
                    修改密码
                </button>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-info-circle"></i>
                    详细信息
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped data_detailId">
                        <tbody>
                            <tr>
                                <th>ID:</th>
                                <td>{{.Vname}}</td>
                            </tr>
                            <tr>
                                <th>机房:</th>
                                <td style="word-wrap : break-word; max-width: 30px">
                                    北京联通
                                </td>
                            </tr>
                            <tr>
                                <th>创建日期:</th>
                                <td>{{.Ctime.Format "2006-01-02 15:04:05"}}</td>
                            </tr>
                            <tr>
                                <th>报警设置:</th>
                                <td>
                                    <a href="#" target="_blank">
                                    点击设置
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-info-circle"></i>
                    配置信息
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>状态:</th>
                                <td>
                                    {{.Status}}
                                </td>
                            </tr>
                            <tr>
                                <th>cpu:</th>
                                <td>{{.Vcpu}}</td>
                            </tr>
                            <tr>
                                <th>内存:</th>
                                <td>{{.Vmemory}}G</td>
                            </tr>
                            <tr>
                                <th>磁盘:</th>
                                <td>10G</td>
                            </tr>
                            <tr>
                                <th>线路:</th>
                                <td>联通</td>
                            </tr>
                            <tr>
                                <th>带宽:</th>
                                <td>{{.Bandwidth}}M</td>
                            </tr>
                            <tr>
                                <th>操作系统:</th>
                                <td>{{.Sys}}</td>
                            </tr>
                            <tr>
                                <th>IP地址:</th>
                                <td>
                                    {{.IPv4}}
                                    <br/>
                                    {{.IPv6}}
                                    <br/>
                                    {{.LocalIP}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    计费信息
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped data_detailId">
                        <tbody>
                            <tr>
                                <th>付费方式:</th>
                                <td>测试</td>
                            </tr>
                            <tr>
                                <th>到期时间:</th>
                                <td>{{.Etime.Format "2006-01-02 15:04:05"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="padding-right:0px;padding-left:0px;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    监控
                </div>
                <div class="panel-body">
                    <div id="cpu" class="col-lg-6" style="height:400px"></div>
                    <div id="memory" class="col-lg-6" style="height:400px"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var vname = "{{.Vname}}"
    var control = {};
    control.start = function(){
        $.post("/start",{vname:vname},function(d){
            if(d.ret=="v"){
                alert(d.msg)
            }
        },"json")
    }
    control.shutdown = function(){
        $.post("/shutdown",{vname:vname},function(d){
            if(d.ret=="v"){
                alert(d.msg)
            }
        },"json")
    }
    control.reboot = function(){
        $.post("/reboot",{vname:vname},function(d){
            if(d.ret=="v"){
                alert(d.msg)
            }
        },"json")
    }
    control.repasswd = function(){
        //弹出密码输入框
        location.href="/repasswd.html?vname={{.Vname}}"
    }
</script>
<script>
    var dd = [];
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    })
    $.post("/load.json?vname={{.Vname}}","",function(d){
        dd = d;
        Highcharts.chart('memory',{
            credits: {
                text: '内存'
            },
            colors: ['#61A5E8'],
            title: {
                text: '内存使用率'
            },
            xAxis: {
                title: {
                    text:"时间"
                },
                type: 'datetime',
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%Y-%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                },
            },
            yAxis: {
                title: {
                    text:"内存"
                },
                min: 0,
                max: dd.maxMemory + 100
            },
            tooltip: {
                xDateFormat: '%Y-%m-%d %H:%M:%S',
                shared: true
            },
            legend: {
                layout: 'veritcal',
                align: 'right',
                verticalAlign: 'top',
                y: 30,
                floating: true,
                borderWidth: 1
            },
            plotOptions: {
                series: {
                    fillColor: {
                        linearGradient: [0, 0, 0, 300],
                        stops: [
                            [0,"#ff0"],
                            [1,"#f00"]
                        ]
                    },
                    lineWidth: 3,
                    states: {
                        hover: {
                            lineWidth: 3
                        }
                    }
                }
            },
            series: [{
                type: 'line',
                name: '内存用量',
                data: d.memorys.map(function(item){
                    return [item[0]*1000,item[1]/1024]
                })
            },{
                type: 'line',
                name: '内存总量',
                data: d.memorys.map(function(item){
                    return [item[0]*1000,dd.maxMemory]
                })
            }]
        });
        Highcharts.chart('cpu', {
            credits: {
                text: 'cpu'
            },
            colors: ['#61A5E8'],
            title: {
                text: 'cpu使用率'
            },
            xAxis: {
                title: {
                    text:"时间"
                },
                type: 'datetime',
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%Y-%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                },
            },
            yAxis: {
                title: {
                    text:"百分比"
                }
            },
            tooltip: {
                xDateFormat: '%Y-%m-%d %H:%M:%S',
                shared: true
            },
            legend: {
                layout: 'veritcal',
                align: 'right',
                verticalAlign: 'top',
                y: 30,
                floating: true,
                borderWidth: 1
            },
            plotOptions: {
                series: {
                    fillColor: {
                        linearGradient: [0, 0, 0, 300],
                        stops: [
                            [0,"#ff0"],
                            [1,"#f00"]
                        ]
                    },
                    lineWidth: 3,
                    states: {
                        hover: {
                            lineWidth: 3
                        }
                    }
                }
            },
            series: [{
                type: 'line',
                name: 'cpu使用率',
                data: d.cpus.map(function(item){
                    return [item[0]*1000,item[1]/100]
                    })
            }],
        });
    },"json")
</script>
</html>