<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>控制面板|列表</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js" charset="UTF-8"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">控制面板</span>
                <span class="icon-bar"></span>
                <tspan class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">控制面板</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/index"> 首页 </a></li>
                <li class="active"><a href="/list">虚拟机列表</a></li>
                <li><a href="/create.html">创建虚拟机</a></li>
        </div>
    </div>
</nav>
<div class="container" style="padding: 60px 0;">
    <table class="table table-striped">		
        <thead>
            <tr>
                <td>#</td>
                <td>节点</td>
                <td>IPv4</td>
                <td>IPv6</td>
                <td>LocalIP</td>
                <td>核心数</td>
                <td>内存</td>
                <td>运行状态</td>
                <td>到期时间</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>   
        </thead>
        <tbody>
            {{range $index,$v := .}}
            <tr>
                <td>{{$index}}</td>
                <td><a href="/info.html?vname={{$v.Vname}}">{{$v.Vname}}</a></td>
                <td>{{$v.IPv4}}</td>
                <td>{{$v.IPv6}}</td>
                <td>{{$v.LocalIP}}</td>
                <td>{{$v.Vcpu}}</td>
                <td>{{$v.Vmemory}}</td>
                <td>{{if eq $v.State 1}}运行中{{else}}关机中{{end}}</td>
                <td>{{$v.Etime.Format "2006-01-02 15:04:05"}}</td>
                <td>{{$v.Ctime.Format "2006-01-02 15:04:05"}}</td>
                <td ret="{{$v.Vname}}">
                    <!-- <a class="ajax" href="/{{$v.Status}}">强制关机</a> -->
                    {{if eq $v.State 1}}
                    <a class="ajax" href="/shutdown">关机</a>
                    <a href="/repasswd.html?vname={{$v.Vname}}">修改密码</a>
                    {{else}}
                    <a class="ajax" href="/start">开机</a>
                    <a class="ajax" href="/reboot">重启</a>
                    {{end}}
                    <a class="ajax" href="/undefine">销毁</a>
                    <a class="ajax" href="/edit">修改配置</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
<script>
    $(".ajax").click(function () {
        var vname = $(this).parent("td").attr("ret")
        $.post(this.href,{vname:vname},function (d) {
            if(d.ret == "v"){
                alert(d.msg);
                location.reload('get');
            }
        },"json");
        return false;
    });
 </script>
</body>
</html>

